<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - justdoit</title>

    <script src="https://unpkg.com/htmx.org@2.0.0"></script>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    @* <script src="//unpkg.com/alpinejs" defer></script> *@

    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <link rel="stylesheet" href="~/css/site.css">
    <script src="~/lib/animejs/lib/anime.min.js"></script>

</head>
<body class="bg-gradient-to-r from-cyan-900 to-pink-900">
<header>
    <partial name="_Navbar"></partial>
</header>
<div class="container">
    <main role="main" class="m-2">
        @RenderBody()
    </main>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>