<div class="navbar">
    <div class="navbar-start m-2">
        <a href="/">
            <span class="text-xl text-white font-bold">justdoit</span>
        </a>
    </div>
    <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
            @* <li> *@
            @*     <a>item 1</a> *@
            @* </li> *@
            @* <li> *@
            @*     <a>item 2</a> *@
            @* </li> *@
        </ul>
    </div>
    <div class="navbar-end flex flex-row gap-4">
        <div class="tooltip tooltip-bottom" data-tip="Coming soon!">
            <span disabled class="btn btn-ghost">
                <a href="/Pricing" class="">Pricing</a>
            </span>
        </div>
        <div class="tooltip tooltip-bottom" data-tip="Coming soon!">
            <span disabled class="btn btn-ghost">
                <a href="/Login" class="">Login</a>
            </span>
        </div>
    </div>
</div>