@model justdoit.Pages.Admin.HydroPinesTab

@{
    var tabs = Model.Tabs;
}


<div
    x-data="{
        tabSelected: 1,
        tabId: $id('tabs'),
        tabButtonClicked(tabButton){
            this.tabSelected = tabButton.id.replace(this.tabId + '-', '');
            this.tabRepositionMarker(tabButton);
        },
        tabRepositionMarker(tabButton){
            this.$refs.tabMarker.style.width=tabButton.offsetWidth + 'px';
            this.$refs.tabMarker.style.height=tabButton.offsetHeight + 'px';
            this.$refs.tabMarker.style.left=tabButton.offsetLeft + 'px';
        },
        tabContentActive(tabContent){
            return this.tabSelected == tabContent.id.replace(this.tabId + '-content-', '');
        }
    }"

    x-init="tabRepositionMarker($refs.tabButtons.firstElementChild);" class="relative w-full max-w-sm">

    <div x-ref="tabButtons" class="relative inline-grid items-center justify-center w-full h-10 grid-cols-2 p-1 text-gray-500 bg-gray-100 rounded-lg select-none">

        @foreach (var tab in tabs)
        {
            <button :id="$id(tabId)" @@click="tabButtonClicked($el);" type="button" class="relative z-20 inline-flex items-center justify-center w-full h-8 px-3 text-sm font-medium transition-all rounded-md cursor-pointer whitespace-nowrap">
                @tab.name
            </button>
        }

        @* <button :id="$id(tabId)" @@click="tabButtonClicked($el);" type="button" class="relative z-20 inline-flex items-center justify-center w-full h-8 px-3 text-sm font-medium transition-all rounded-md cursor-pointer whitespace-nowrap"> *@
        @*     Account *@
        @* </button> *@
        @* <button :id="$id(tabId)" @@click="tabButtonClicked($el);" type="button" class="relative z-20 inline-flex items-center justify-center w-full h-8 px-3 text-sm font-medium transition-all rounded-md cursor-pointer whitespace-nowrap"> *@
        @*     Password *@
        @* </button> *@
        <div x-ref="tabMarker" class="absolute left-0 z-10 w-1/2 h-full duration-300 ease-out" x-cloak>
            <div class="w-full h-full bg-white rounded-md shadow-sm"></div>
        </div>
    </div>
    <div class="relative w-full mt-2 content">

        @foreach (var tab in tabs)
        {
            <div :id="$id(tabId + '-content')" x-show="tabContentActive($el)" class="relative">
                <span class="w-20 ">
                    @tab.viewname
                </span>
            </div>
        }

        @* <div :id="$id(tabId + '-content')" x-show="tabContentActive($el)" class="relative" x-cloak> *@
        @*     *@
        @* </div> *@

    </div>
</div>