@page
@model justdoit.Pages.Admin.Index

@{
    var range = Enumerable.Range(1, 100);
    var tabs = new PinesTab[] { new PinesTab("foo", "bar"), new PinesTab("fizz", "buzz") };
}

<section x-data="" class="text-primary">
    <h1>Admin</h1>
    <p>
        <b>Purpose:</b>
        This page is for testing stored procdure insights inspired by dataedo, like which procs take longest, have the most rows, etc.
    </p>

    <hydro-tabs tabs="@tabs"></hydro-tabs>
    
    <vc:counter></vc:counter>

    @* <partial name="_ProcSelect"/> *@
    @* <partial name="_ProcsTable"/> *@

    @* *@
    @* <div *@
    @*     class="text-accent" *@
    @*     hx-get *@
    @*     hx-trigger="load" *@
    @*     hx-page="Index" *@
    @*     hx-page-handler="Sprocs" *@
    @*     hx-vars="{sproc_name: 'get_all_procs'}"> *@
    @*     <span>loading...</span> *@
    @* </div> *@

</section>