@model IEnumerable<justdoit.Models.Todo>

@{
    var all_todos = Model;
    int limit = 10;
}

<div class="flex flex-column items-center border-2">
    <p>lorem ipsum</p>
    <span>showing only @limit todos</span>

    <div class="h-96 overflow-x-auto">
        <table class="table table-pin-rows">
            @foreach (var priority_group in all_todos.Take(limit).GroupBy(t => t.priority))
            {
                <thead>
                <tr>
                    <th>@priority_group.Key</th>
                </tr>
                </thead>
                <tbody>

                @foreach (var todo in @priority_group)
                {
                    <tr>
                        <td>@todo.content</td>
                    </tr>
                }
                </tbody>
            }
        </table>
    </div>
</div>