<div class="card bg-base-100 w-96 shadow-xl">
    <figure>
        <img
            src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
            alt="Shoes"/>
    </figure>
    <div class="card-body">
        <h2 class="card-title text-secondary">
            Automatic Planning!
        </h2>

        <p class="text-neutral-500">
            We take care of planning overhead
        </p>

        <ul class="list-disc space-y-2">

            <hydro-li>
                <p class="ml-2">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat maiores qui quod repellendus similique! Accusamus alias aperiam consequuntur culpa cumque, deserunt dignissimos eveniet, exercitationem fugit nulla quae repellat tempora voluptas?
                </p>
            </hydro-li>
            <hydro-li>
                <p class="ml-2">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto dicta, ducimus enim error et harum illum inventore ipsum iure magni modi molestiae perspiciatis quisquam reprehenderit rerum soluta tempora velit.
                </p>
            </hydro-li>

            <hydro-li>
                <p class="ml-2">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores commodi ducimus facilis natus quos suscipit! Amet atque, consequatur cumque doloremque itaque neque possimus quasi repellat rerum unde! Doloribus, ducimus.
                </p>
            </hydro-li>
        </ul>
    </div>
</div>