@model object

<div>
    <div class="hero">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <div>
                <h1 class="p-2 md:text-5xl text-3xl text-white font-bold">Automated Scheduling, Effortless Time Management</h1>
                <h2 class="p-2 text-lg text-gray-500">JustDoIt is the productivity app for automatic scheduling, reminders, and time management. No manual scheduling required.</h2>

                <div class="flex space-x-6 items-center">
                    <button class="btn bg-purple-700 hover:bg-purple-400 text-white">Start a New Project</button>
                </div>
            </div>
        </div>
    </div>
</div>