<div>
    <h1>No Tiers. No "Pay as you Go"</h1>
    <i>Pay only for what you actually WANT to use!</i>
    <p>You pick the features you want</p>
    <p>Turn them off anytime. It's that simple.</p>


    @* ideas:
    Show a GIF of each feature being toggled on/off and the mo./yearly price getting adjusted.
     *@
</div>