<section>
    <p>All you do is set the rules for your tasks</p>
    <p>
        We handle the scheduling
        <b>FOR YOU</b>
    </p>

    <h2>How COOL is THAT?</h2>

    <i>(No more reading a textbook just to use your schedule)</i>

    @* modal/form *@
    <h1>Sound like a plan?</h1>
</section>