@model justdoit.Pages.Sandbox.Index

<div class="card">

    <form hx-post="@Url.Page("Pocketbase", "AddTask")"
          hx-swap="outerHTML"
          hx-target="#todos_treadmill"
          class="card-body w-96 form-horizontal needs-validation"
          _="on htmx:beforeSend set #submitButton.disabled to 'disabled'">

        <div class="form-control card-title">
            <label class="label">
                <span class="label-text text-primary text-lg">Add a Todo</span>
            </label>

            <input
                hx-get="@Url.Page("Pocketbase", "SortedTreadmill", new { debug = true })"
                hx-target="#todos_treadmill"
                asp-for="Query"
                hx-trigger="keyup changed delay:250ms"
                type="text"
                placeholder="Search"
                class="input input-bordered bg-transparent text-accent" required/>

            @* <input asp-for="Content"  *@
            @*        type="text"  *@
            @*        placeholder="Buy Milk"  *@
            @*        class="input input-bordered bg-transparent" required/> *@
        </div>

        <div class="control" x-data="{show:false}">
            <button x-on:click="show=!show" id="submitButton" type="submit" class="btn btn-primary">
                <span x-show="show" class="htmx-indicator">
                    <img src="~/img/loaders/bars.svg" alt="">
                </span>
                Submit
            </button>

            @Html.AntiForgeryToken()
        </div>

    </form>
</div>