@model justdoit.Pages.Sandbox.Pocketbase

<div class="card">

    <form hx-post="@Url.Page("Pocketbase", "AddTask")"
          hx-swap="outerHTML"
          class="card-body w-96 form-horizontal needs-validation"
          _="on htmx:beforeSend set #submitButton.disabled to 'disabled'">

        <div class="form-control card-title">
            <label class="label">
                <span class="label-text text-primary text-lg">Add a Todo</span>
            </label>
            <input asp-for="Content" type="text" placeholder="Buy Milk" class="input input-bordered bg-transparent" required/>
        </div>

        <div class="control" x-data="{show:false}">
            <button x-on:click="show=!show" id="submitButton" type="submit" class="btn btn-primary">
                <span x-show="show" class="htmx-indicator">
                    <img src="~/img/loaders/bars.svg" alt="">
                </span>
                Submit
            </button>

            @Html.AntiForgeryToken()
        </div>

    </form>
</div>