@model Pocketbase
@{
    var todos = Model.MysqlTodos;
}
<ul class="bg-green">
    @foreach (var todo in todos)
    {
        <hydro-li>

            <h1 class="text-md">
                @todo.content
            </h1>

            <span>
                <box-icon name='trash' color="red" size="sm"></box-icon>
            </span>


        </hydro-li>
    }
</ul>