@model Pocketbase
@{
    var todos = Model.MysqlTodos;
}

<ul class="bg-green">
    @foreach (var todo in todos)
    {
        @* <div id="todo_@todo.id"> *@
            @* <pre>todo_@todo.id</pre> *@
        <partial name="_MySqlTodoListItem" model="todo"></partial>
        // </div>
    }
</ul>