@using CodeMechanic.Types

@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Index
@{
    string partial_name = "_TodoTreadMillCard";
    // string partial_name = "_TodoTreadMillListItem";
    var completed = Model.Todos
        .Where(x => x.Status.Equals(TodoStatus.Done))
        .ToArray();

    var pending = Model.Todos
        .Where(x => x.Status
            .ToMaybe()
            .IfSome(x => !x
                .Equals(TodoStatus.Done)))
        .ToArray();
}

@* hx-get="@Url.Page("Pocketbase", "SortedTreadmill", new { days = 7 })" *@
@* hx-indicator="#todos_loader" *@
<div id="todos_treadmill"
     class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 m-2 border-0 border-primary">

    @foreach (var todo in pending)
    {
        <partial name="@partial_name" model="todo"></partial>
    }

    @foreach (var todo in completed)
    {
        <s>
            <partial name="@partial_name" model="todo"></partial>
        </s>
    }

    @if (pending.IsNullOrEmpty())
    {
        <p>No todos</p>
    }
</div>