@page
@model justdoit.Pages.Sandbox.Index


<section class="grid grid-cols-2 gap-4">


    <div class="border-2">
        <partial name="_SSEExample"></partial>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore fugiat quae velit voluptas! Consequuntur corporis earum iste laboriosam modi, obcaecati pariatur! Accusamus beatae et maiores quis sint totam ut?</p>
        <p>Aut distinctio earum error esse nihil nobis placeat, qui quo tempora ut? Atque blanditiis consequuntur cupiditate ducimus eos error ex, iusto odio, officiis provident quia quisquam, sed similique sit tempora.</p>
        <p>Aliquid architecto cupiditate deleniti dolor dolorem excepturi explicabo fuga illo illum ipsa ipsam ipsum iusto laborum magnam minima necessitatibus nisi non optio pariatur possimus, quasi repudiandae sit soluta sunt, veniam!</p>
    </div>

    <section class="flex flex-col items-center m-4 gap-2">

        <h1 class="text-3xl">Experimental Stuff</h1>
        <p>The following are things I play around with. Some of it may be integrated into this or other projects</p>
        <ul>

            <hydro-li>
                <a class="pl-2" href="/Sandbox/HydroExperiments">
                    <button class="btn btn-sm btn-primary">Hydro Components</button>
                </a>
            </hydro-li>


            <hydro-li disabled>
                <a class="pl-2" href="/Sandbox/TabGrab">
                    <button class="btn btn-sm btn-primary">Tab Grabber</button>
                </a>
            </hydro-li>
            <hydro-li>
                <a class="pl-2" href="/Sandbox/Index">
                    <button class="btn btn-sm btn-primary">Sandbox Home</button>
                </a>
            </hydro-li>

            <hydro-li>
                <a class="pl-2" href="/Sandbox/Animations">
                    <button class="btn btn-sm btn-secondary">Animations</button>
                </a>
            </hydro-li>
            @* https://ammoseek.com/ammo/224-valkyrie *@
            <hydro-li>
                <button hx-get
                        hx-page="Index"
                        hx-swap="outerHTML"
                        hx-page-handler="Valkyrie"
                        hx-indicator="#ammo_scraper"
                        class="btn btn-sm btn-info">
                    AmmoSeek
                </button>
                <span id="ammo_scraper"
                      class="htmx-indicator">
                    <label for="">loading...</label>
                    <img alt="bars" src="~/img/loaders/bars.svg"/>
                </span>
            </hydro-li>
        </ul>

    </section>

</section>