@page
@using justdoit.Pages.Components
@model justdoit.Pages.Sandbox.HydroExperiments

<section class="grid-cols-2 grid">

    <bento-card>
        <hydro name="Counter"></hydro>
    </bento-card>

    <bento-card id="hydro_search">
        <hydro name="HydroSearch"
               parameters="@(new { PartialName = "_DummyTodoItem", HxTarget = "#hydro_search" })"/>
    </bento-card>
</section>