@page
@using justdoit.Pages.Components
@model justdoit.Pages.Sandbox.HydroExperiments

<div>

    @* <hydro name="HydroSearch" query="bologna"/> *@

    <bento-card>
        blah
        <hydro name="Counter"></hydro>
    </bento-card>
</div>