@page
@model justdoit.Pages.Sandbox.Index

<section class="grid grid-cols-2 gap-4">
    <partial name="_AnimeJSSamples"></partial>
    <partial name="_Gradients"></partial>
    <partial name="_TwAnimations"></partial>
</section>