@page
@model justdoit.Pages.Sandbox.Pocketbase

<section x-data="{views: { 
                              pb: {show: true, toggle(){this.show=!this.show}},
                              mysql: {show: true, toggle(){this.show=!this.show}},
                          }    }"
         class="flex flex-col items-center justify-center gap-2 border-0">

    <div

        x-transition class="border-0 rounded-xl shadow-lg">
        @* <div class="card-title"> *@
        @* <h1 class="text-yellow-500 font-bold">From Pocketbase</h1> *@
        @* </div> *@

        <div
            hx-get
            hx-page="Pocketbase"
            hx-trigger="load"
            hx-page-handler="MySqlTodos">
        </div>

    </div>

    <partial name="_AddTaskForm" model="@Model"/>

</section>
@* <script> *@
@* console.log('setup is running...'); *@
@* function setup_pb(){ *@
@*     return {  *@
@*         views: {  *@
@*             pb: {show: true, toggle(){this.show=!this.show}}, *@
@*             mysql: {show: true, toggle(){this.show=!this.show}}, *@
@*         }         *@
@*     } *@
@* } *@
@* </script> *@


@* <div x-show="views.pb.show" x-transition class="card w-96 rounded-xl shadow-lg"> *@
@*     <div class="card-title"> *@
@*         <h1 class="text-yellow-500 font-bold">From Pocketbase</h1> *@
@*     </div> *@

@* <div *@
@*     hx-get *@
@*     hx-page="Pocketbase" *@
@*     hx-trigger="load" *@
@*     hx-page-handler="PbTodos"> *@
@* </div> *@

@* </div> *@


@* <div class="flex flex-row"> *@

@* <button class="btn-ghost btn" x-on:click="views.pb.toggle()" x-text="!!views.pb.show ?'Show Pocketbase Todos': 'Hide Pocketbase Todos'"></button> *@

@* <button class="btn-ghost btn"  *@
@*         x-on:click="views.mysql.toggle()"  *@
@*         x-text="!!views.mysql.show ?'Hide Todos': 'Show Todos'"></button> *@
@* </div> *@