@page
@model justdoit.Pages.Sandbox.TabGrab

@{
}

<section x-data="setup_tabgrab()">


</section>
<script>

///  IDEA: I want to be able to grab all current urls from tabs and store them as todos.
function setup_tabgrab() {
    // let tabs = chrome.windows.getAll();
    // console.log('tabs', tabs);
    console.log('chrome.windows', chrome);
    
    return {
        
    }
    
   }
</script>