<div class="avatar placeholder mb-8">
    <div class="ring-primary bg-primary/25 ring-offset-base-100 w-12 rounded-full ring ring-offset-2">
        <span class="text-primary">
            @Model.Slot()
        </span>
    </div>
</div>